/* init style */
body, h1, h2, h3, h4, h5, h6, div, p, span, img, ul, ol, li, table, tr, th, td, a {
	font-family : "メイリオ", Meiryo, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", sans-serif;
	margin : 0px;
	padding : 0px;
	border : 0px;
	line-height : 150%;
	font-size : small;
	font-weight : normal;
	color : black;
	background-color : transparent;
}

a {
	font-weight : bold;
}

br.clear {
	line-height : 0;
	clear : both;
}

div#tabs {
	width : 800px;
	margin : 0px auto;
}

div#tabs div.inner {
	width : 780px;
	height : 500px;
	margin : 5px;
	padding : 5px;
	background-color : white;
}

div#tabs div#canvas-frame {
	width : 500px;
	height : 500px;
	float : left;
	background-color : #FFFFFF;
}

div#tabs div.inner div#controller {
	width : 270px;
	height : 490px;
	padding : 5px;
	float : right;
	text-align : left;
	background-color : white;
}

div#tabs div.inner div#controller h2{
	margin : 0px 0px 0px 0px;
	padding : 2px 0px 2px 0px;
	font-weight : bold;
	color : white;
	background-color : gray;
	text-align : center;
}

div#tabs div.inner div#controller h3{
	padding : 2px 0px 0px 5px;
	font-weight : bold;
	line-height : 1.0em;
	color : #333333;
	background-color : white;
	border-left : 15px solid gray;
}

div#tabs div.inner div#controller table{
	width : 270px;
	border-collapse : collapse;
	background-color : white;
	margin : 5px 0px 10px 0px;
}

div#tabw div.inner div#controller table#selectTable td{
	padding : 2px 5px;
	border : 1px solid gray;
}

div#tabs div.inner div#controller div.slider{
	width : 160px;
}

div#tabs div.inner div#controller input.number{
	width : 30px;
}

div#tabs div.inner div#controller div#function_legend{
	margin : 5px 0px 5px 0px;
}

div#tabs div.inner div#controller textarea#text_algorithm{
	width : 186px;
	height : 100px;
	float : left;
}

div#tabs div.inner div#controller textarea#text_parameter{
	width : 268px;
	height : 50px;
	float : left;
}

div#tabs div.inner div#controller textarea#text_function{
	width : 268px;
	height : 50px;
	float : left;
}

div#tabs div.inner div#controller table#legend{
	width : 76px;
	height : 100px;
	margin : 0px;
	padding : 0px;
	float : right;
}

div#tabs div.inner div#controller table#legend th{
	padding : 2px 0px;
	font-size : x-small;
	font-weight : bold;
	/* border : 1px solid gray; */
}

div#tabs div.inner div#controller table#legend td{
	padding : 0px;
}

input#graphPlot{
	width : 90px;
	height : 40px;
}

